.carousel-caption p {
    color:#fff;
    text-shadow:0 0 10px rgba(0,0,0,1.0), 
                0 0 20px #000, 
                0 0 20px #000;
    font-family:'EB Garamond', serif;
    background-color:rgba(0,0,0,.64);
    border-radius:3px;
    letter-spacing:.13rem;
    padding:.33rem;
  }
  /* /type treatments */
  /* slight rounds on carousel images */
  .carousel-inner {
    border-radius: .33rem;
  }

  body {
    background-image: url("img/ayurveda_herbs_background.jpg");
    
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  #content{
    background-color: rgba(0,0,0,0.7);
    max-width: max-content;
    
  }